.item {
    margin: 1rem;
    cursor: pointer;
    width: 15rem;

    /* padding: 1rem; */
    text-align: center;
    padding-bottom: 0.5rem;
}
.image {
    width: 100%;
}

@media screen and (max-width: 600px) {
    .item {
        width: 100%;
        margin: 0;
        margin-top: 1rem;
        margin-bottom: 2rem;
        /* padding-bottom: 0.5rem; */
        border: none;

        background-color: #151722;
    }
    .image {
        width: 100%;
        margin-bottom: 2rem;
    }
}
