.video {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.videoinit {
    height: 50vh;
    width: 90%;
    margin-bottom: 1rem;
}
@media screen and (max-width: 600px) {
    .video {
        height: 50vh;
        margin: 0;
        padding-bottom: 1rem;
        border-bottom: 1px dotted rgb(0, 0, 0);
        background-color: #151722;
    }
    .videoinit {
        width: 100%;
    }
}
